# 登入帳號密
SYSTEM_USER="nchc"
SYSTEM_KEY="nchcservice"

# AnythingLLM儲存位置
STORAGE_DIR="/app/server/storage"

# OPENAI 相容套件金鑰
OLLAMA_BASE_URL="http://host.docker.internal:11434"  																	# remote ollama url, example: OLLAMA_BASE_URL="https://node01.biobank.org.tw/rstudio/172.16.124.152/11434/";
OPENAI_API_BASE_URLS="https://api.openai.com/v1;https://api.groq.com/openai/v1;http://host.docker.internal:4000/v1"		# add litellm url, example: http://203.145.221.164:4000/v1
OPENAI_API_KEYS="sk-;gsk_;sk-"																							# add litellm apikey, example:  sk-CQlLcuRSUIcHN1PHTUhgHQ

# HF_TOKEN
HF_TOKEN="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"

# LITELLM
LITELLM_MASTER_KEY="sk_live_nchc123456789"	# this is your master key for using the proxy server
UI_USERNAME="nchc"				# username to sign in on UI
UI_PASSWORD="nchcservice"		# password to sign in on UI

# POSTGRES: 其中[POSTGRES_USER,POSTGRES_PASSWORD] 必須跟 litellm/litellm-config. 內的帳號密碼一樣
POSTGRES_DB="litellm"
POSTGRES_USER="nchc"
POSTGRES_PASSWORD="nchcservice"

# PGADMIN
PGADMIN_DEFAULT_EMAIL="nchc@org.tw"
PGADMIN_DEFAULT_PASSWORD="nchcservice"

# PORT
nchc_anythingllm=3001
nchc_ollama=11434
nchc_openwebui=8080
nchc_litellm=4000
nchc_postgres=5432
nchc_pgadmin4=5080
nchc_php=9000
nchc_nginx_80=80
nchc_nginx_443=443

